# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
.venv/
venv/
env/
.conda/

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db

# Jupyter & Anaconda
.ipynb_checkpoints/
.conda/
.continuum/
*.bak
*.log

# Environment files
*.env

